<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ws.donmez.otobur"
      android:versionName="0.6"
      android:versionCode="2">

<!-- SDK requirements -->
        <uses-sdk android:minSdkVersion="13"
                  android:targetSdkVersion="17"
                  android:maxSdkVersion="17" />

<!--  Permissions -->
        <uses-permission android:name="android.permission.INTERNET"/>

        <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Holo"
                 android:allowBackup="true">

<!-- Main activity -->
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!-- Details activity -->
        <activity
            android:name="ws.donmez.otobur.DetailsSlideActivity"
            android:label="@string/app_name" >
        </activity>

    </application>
</manifest>
